{% extends 'base.html' %}
{% block content %}
<section class="vh-80 gradient-custom" style="margin-top:300px">
    {% include 'includes/alerts.html' %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
                <form method="POST" action="{% url 'forgot_password' %}">
                    {% csrf_token %}
              <h2 class="fw-bold mb-2 text-uppercase">Forgot Password</h2>
              <p class="text-dark mb-5">Please enter your email</p>

              <div class="form-outline form-white mb-4">
                <input name="email" type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label text-dark" for="typeEmailX">Email</label>
              </div>


              <p class="small pb-lg-2 mt-2"><a class="" href="{% url 'login' %}">Got password?</a></p>

                <button class="btn btn-primary mb-5  btn-lg gradient-custom-4 text-body" type="submit">Reset Password</button>
                <div>
                    <p class="mb-0 text-dark">Don't have an account? <a href="{% url 'register' %}" class="text-dark-50 fw-bold">Sign Up</a>
                    </p>
                </div>
                </form>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}